p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


#tid0 {display: inline;}
#fag0 {display: inline;}
.l0 {display:inline;}

#tid1 {display: inline;}
#fag1 {display: inline;}
.l1 {display:inline;}

#tid2 {display: inline;}
#fag2 {display: inline;}
.l2 {display:inline;}

#tid3 {display: inline;}
#fag3 {display: inline;}
.l3 {display:inline;}

#tid4 {display: inline;}
#fag4 {display: inline;}
.l4 {display:inline;}

#tid5 {display: inline;}
#fag5 {display: inline;}
.l5 {display:inline;}

#tid6 {display: inline;}
#fag6 {display: inline;}
.l6 {display:inline;}

#tid7 {display: inline;}
#fag7 {display: inline;}
.l7 {display:inline;}

#tid8 {display: inline;}
#fag8 {display: inline;}
.l8 {display:inline;}