
p {
}

h1{
    /* outline-style: solid;
    outline-color: black;
    outline-width: 2px;
    outline-offset: 2px;     */

    border-style: solid;
    border-width: 8px;
    border-color: dodgerblue;
    
    text-align: center;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

body {
    background-color: whitesmoke;
    margin-top:0;
}

li{
    font-family: Arial, Helvetica, sans-serif;
}

ol{
    font-style: italic;
}

figcaption{
    font-size: smaller;
    font-style: italic;
}

button{
    background-color: red; 
    border: none;
    color: white; 
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;

    transition-duration: 0.3s;
}

button:hover{background-color: rgb(241, 121, 121);  color:white;}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    position: sticky;
    top: 0;
    width: 100%;
  }
  
  .menulink {float: left;}
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover { background-color:  rgb(241, 121, 121);}



  .top {grid-area: top;}
  .midte {grid-area: midte;}

  .grid-container {
    display: grid;
    grid-template-areas:
      'top top'
      'midte midte';
    grid-gap: 10px;
    padding: px;
  }

  